body {

  background-color: rgb(48, 48, 48);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

html {

  scroll-behavior: smooth;

}

a {

  text-decoration: none;
  color: whitesmoke;

}

ul {

  list-style: none;

}

footer {

  background-color: green;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}

h1 {

  font-size: 70px;
  text-align: center;
  color: white;

}

.menu {
  background-color: green;
  background-size: cover;
  background-position: center;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu .menu-item {
  padding: 0 20px;
  color: black;
}

.menu .menu-item:not(:last-child) {
  margin-right: 10px;
}


.logo {

  padding-left: 2em;
  width: 180px;
  float: left;

}

.list {

  float: right;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  transition: 0.4s;
  color: whitesmoke;
  width: 45%;
  margin-left: 8.5em;
  padding-right: 50px;
  text-decoration: none;
  font-size: 1.2em;

}

.list a: hover {

  color: black;

}

.card {

  background-color: rgb(195, 248, 195);
  border: 10px solid green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
  margin: 20px auto;
  width: 400px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card h2 {

  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  color: black

  }

.cards {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card-list {

  background-color: rgb(195, 248, 195);
  border: 10px solid green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
  margin: 20px auto;
  width: 500px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.popup {

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;

  }

.popup-content {

  background-color: rgb(195, 248, 195);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;

  }

.popup-content h2 {

  font-size: 40px;

}  

.popup-content p {

  font-size: 25px;

}

textarea {

  width: 100%;
  height: 100%;

}

input {

  width: 15%;
  height: 100%;
  font-size: 20px;

}

.close {

  color: red;
  float: right;
  font-size: 50px;
  font-weight: bold;

  }

.close: hover,
.close: focus {

  color: black;
  text-decoration: none;
  cursor: pointer;

  }


  a.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    background-color: rgb(195, 248, 195);
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  a.back-to-top.show {
    opacity: 1;
  }
  
  a.back-to-top:hover {
    background-color: #555;
  }

a[href="index.html"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  background-color: rgb(195, 248, 195);
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

a[href="index.html"]:hover {
  background-color: #555;
}

@media only screen and (max-width: 767px) {
  .app {
    display: flex;
    min-height: 100vh;
  }

  body.sidebar-open {
    overflow: hidden;
  }

  .sidebar {
    flex: 1 1 0;
    width: 450px;
    padding: 2rem 1rem;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    position: fixed;
    left: -4px;
    top: 30vh;
    bottom: 0;
  }

  .sidebar.open {
    transform: translateX(0);
    overflow: hidden;
    position: fixed;
    height: 100vh;
  }

  .sidebar h3 {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .sidebar .menu {
    margin: 0 -1rem;
  }

  .sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
    transition: 0.2s linear;
  }

  .sidebar .menu .menu-item:hover,
  .sidebar .menu .menu-item.is-active {
    color: green;
    border-right: 5px solid green;
  }

  .content {
    flex: 1 1 0;
    padding: 2rem;
  }

  .menu-toggle {
    display: block;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #ffffff;
    cursor: pointer;
  }

  .menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    overflow: hidden;
    z-index: 1;
  }


  .hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
  }

  .hamburger > span,
  .hamburger > span::before,
  .hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: green;
    transition-duration: .25s;
  }

  .hamburger > span::before {
    content: '';
    top: -8px;
  }

  .hamburger > span::after {
    content: '';
    top: 8px;
  }

  .menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
  }
  .menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  .menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-item a {
    text-decoration: none;
    color: black;
  }

  .menu-item a:hover {
    color: black;
  }

  #mobilemenu {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    height: 50vh;
    background-color: white;
  }

  .sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
    transition: 0.2s linear;
    border-right: none; /* Remove the border from menu items */
  }

  .card {

    background-color: rgb(195, 248, 195);
    border: 10px solid green;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
    margin: 20px auto;
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .card h2 {
  
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
    color: black
  
    }
  
  .cards {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .card-list {
  
    background-color: rgb(195, 248, 195);
    border: 10px solid green;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
    margin: 20px auto;
    width: 500px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .logo {

    padding-left: 2em;
    width: 100px;
    float: left;
  
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
    background-color: rgb(195, 248, 195);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
  }
  
  .popup-content h2 {
  
    font-size: 30px;
  
  }  
  
  .popup-content p {
  
    font-size: 17px;
  
  }
  
  textarea {
  
    width: 100%;
    height: 100%;
  
  }
  
  input {
  
    width: 15%;
    height: 100%;
    font-size: 10px;
  
  }
  
  .close {
  
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  
    }
  
  .close:hover,
  .close:focus {
  
    color: black;
    text-decoration: none;
    cursor: pointer;
  
    }
}
