body {

  background-color: rgb(48, 48, 48);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

html {

  scroll-behavior: smooth;

}

a {

  text-decoration: none;
  color: whitesmoke;

}

ul {

  list-style: none;

}

footer {
  background-color: green;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-social {
  flex: 1;
  max-width: 200px;
  margin: 0 20px;
  font-size: 30px;
}

.footer-social h3 {
  margin-bottom: 10px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-media li {
  margin: 0 5px;
}

.social-media a {
  color: #333;
}

.footer-contact ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.footer-contact li {
  margin-bottom: 5px;
}

.footer-contact a {
  color: #333;
  text-decoration: none;
}

p {
  margin-top: 10px;
  font-size: 23px;
}

h1 {

  font-size: 50px;
  text-align: center;
  color: white;

}

.menu {
  background-color: green;
  background-size: cover;
  background-position: center;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu .menu-item {
  padding: 0 20px;
  color: black;
}

.menu .menu-item:not(:last-child) {
  margin-right: 10px;
}


.logo {

  padding-left: -1em;
  width: 280px;
  float: left;

}

.search-container {
  position: relative;
  margin-left: 100px;
}

.search-container input[type="text"] {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  width: 210px;
}

.search-container button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  outline: none;
}

.search-container button:hover {
  background-color: #555;
}

.list {

  float: right;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  transition: 0.4s;
  color: whitesmoke;
  width: 45%;
  margin-left: 8.5em;
  padding-right: 50px;
  text-decoration: none;
  font-size: 1.2em;

}

.welcome-message {
  background-image: url("sav.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: #000000; /* Set the text color to ensure readability */
  position: relative; /* Required for overlay positioning */
}

.welcome-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.364); /* Adjust the opacity as needed */
  z-index: -9; /* Push the overlay behind the text */
}

.welcome-message::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("sav.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.9); /* Adjust the brightness level */
  z-index: -9; /* Push the dimmed image further behind */
}

.welcome-message h1 {
  font-size: 50px;
  color: darkgreen;
  margin-bottom: 20px;
}

.welcome-message h1::after {
  display: none;

}

.welcome-message p {
  font-size: 25px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
}

.welcome-message a {
  color: red;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
  font-size: 23px;
  border: 3px solid rgb(137, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(137, 0, 0);
  background-color: rgb(48, 48, 48);
  margin: 645px;
}

.welcome-message a:hover {
  color: #e64c4c;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-message {
  animation: fadeIn 4s ease;
}

#chatAIPopup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


.card {

  background-color: rgb(195, 248, 195);
  border: 10px solid green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
  margin: 20px;
  width: 250px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card h2 {

  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  color: black

  }

  .cards-container {
    position: relative;
    overflow: hidden;
    margin: 50px;
    padding: 10px;
  }
  

  .scroll-button {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
  }
  
  .scroll-left {
    left: 0;
  }
  
  .scroll-right {
    right: 0;
  }

  .cards {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .cards::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.card-list {

  background-color: rgb(195, 248, 195);
  border: 10px solid green;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
  margin: 20px;
  width: 300px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.popup {

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;

  }

.popup-content {

  background-color: rgb(195, 248, 195);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;

  }

.popup-content h2 {

  font-size: 40px;

}  

.popup-content p {

  font-size: 25px;

}

textarea {

  width: 100%;
  height: 100%;

}

input {

  width: 15%;
  height: 100%;
  font-size: 20px;

}

.close {

  color: red;
  float: right;
  font-size: 50px;
  font-weight: bold;

  }

.close:hover,
.close:focus {

  color: black;
  text-decoration: none;
  cursor: pointer;

  }


  a.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    background-color: rgb(195, 248, 195);
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  a.back-to-top.show {
    opacity: 1;
  }
  
  a.back-to-top:hover {
    background-color: #555;
  }

a[href="index.html"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  background-color: rgb(195, 248, 195);
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

a[href="index.html"]:hover {
  background-color: #555;
}

#blog-section {
  background-color: #5b5b5bc4;
  padding: 20px;
}

#blog-section h2 {

  font-size: 50px;
  text-align: center;
  color: green;
}

.blog-post {
  background-color: #ffffff81;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 465px;
  width: 500px;
}

#blog-section p {

  font-size: 15px;
  text-align: center;
  color: black;
}

.blog-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.blog-date, .blog-author {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.blog-excerpt {
  font-size: 16px;
  color: #555;
}

@media only screen and (max-width: 767px) {
  .app {
    display: flex;
    min-height: 100vh;
    
  }

  .search-container {
    position: relative;
    margin-left: 10px;
  }
  
  .search-container input[type="text"] {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    width: 100px;
  }
  
  .search-container button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .search-container button:hover {
    background-color: #555;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
  }

  .menu-toggle {
    display: none;
  }

  body.sidebar-open {
    overflow: hidden;
  }

  .sidebar {
    flex: 1 1 0;
    width: 300px;
    padding: 2rem 1rem;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    position: fixed;
    left: -4px;
    top: 18vh;
    bottom: 0;
  }

  .sidebar.open {
    transform: translateX(0);
    overflow: hidden;
    position: fixed;
    height: 100vh;
  }

  .sidebar h3 {
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .sidebar .menu {
    margin: 0 -1rem;
  }

  .sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
    transition: 0.2s linear;
  }

  .sidebar .menu .menu-item:hover,
  .sidebar .menu .menu-item.is-active {
    color: green;
    border-right: 5px solid green;
  }

  .content {
    flex: 1 1 0;
    padding: 2rem;
  }

  .menu-toggle {
    display: block;
    top: 2rem;
    z-index: 999;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    margin-bottom: -50px;
    margin-left: -30px;
    border-radius: 99px;
    background-color: white;
    cursor: pointer;
  }

  .menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    overflow: hidden;
    z-index: 1;
  }


  .hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
  }

  .hamburger > span,
  .hamburger > span::before,
  .hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: green;
    transition-duration: .25s;
  }

  .hamburger > span::before {
    content: '';
    top: -8px;
    background-color: black;
  }

  .hamburger > span::after {
    content: '';
    top: 8px;
    background-color: black;
  }

  .menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
  }
  .menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  .menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-item a {
    text-decoration: none;
    color: black;
  }

  .menu-item a:hover {
    color: black;
  }

  .menu {
    height: 85px;
  }

  #mobilemenu {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    height: 50vh;
    background-color: white;
    padding: 1em;
    text-decoration: none;
    transition: 0.2s linear;
  }

  .card {

    background-color: rgb(195, 248, 195);
    border: 7px solid green;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
    margin: 40px;
    width: 165px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .card h2 {
  
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
    color: black
  
    }
  
    .cards-container {
      position: relative;
      overflow: hidden;
      margin: 50px;
      padding: 50px;
    }
    
  
    .scroll-button {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      transition: background-color 0.3s;
      z-index: 1;
    }
    
    .scroll-left {
      left: 0;
    }
    
    .scroll-right {
      right: 0;
    }
  
    .cards {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
    }
    
    .cards::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  
  .card-list {
  
    background-color: rgb(195, 248, 195);
    border: 10px solid green;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(105, 241, 0, 0.3);
    margin: 20px;
    width: 300px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .logo {

    padding-left: -1em;
    width: 223px;
    float: left;
  
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
    background-color: rgb(195, 248, 195);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
  }
  
  .popup-content h2 {
  
    font-size: 30px;
  
  }  
  
  .popup-content p {
  
    font-size: 17px;
  
  }
  
  textarea {
  
    width: 100%;
    height: 100%;
  
  }
  
  input {
  
    width: 15%;
    height: 100%;
    font-size: 10px;
  
  }
  
  .close {
  
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  
    }
  
  .close:hover,
  .close:focus {
  
    color: black;
    text-decoration: none;
    cursor: pointer;
  
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
    .content {
      flex: 1;
    }

    a[href="index.html"] {
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-size: 13px;
      background-color: rgb(195, 248, 195);
      color: black;
      padding: 10px 15px;
      border-radius: 5px;
      text-decoration: none;
    }
    
    a[href="index.html"]:hover {
      background-color: #555;
    }

    .welcome-message {
      text-align: center;
      padding: 50px 20px;
      background-color: #3b3b3b;
    }
    
    .welcome-message h1 {
      font-size: 35px;
      color: #000000;
      margin-bottom: 20px;
    }
    
    .welcome-message p {
      font-size: 18px;
      color: #000000;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .welcome-message a {
      color: green;
      font-weight: bold;
      font-size: 30px;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .welcome-message a:hover {
      color: #e64c4c;
    }

    .chatbot {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-color: green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 12px;
      cursor: pointer;
      animation: bounce 1s infinite;
    }

    a.back-to-top {
      position: fixed;
      bottom: 20px;
      left: 20px;
      font-size: 12px;
      background-color: rgb(195, 248, 195);
      color: black;
      padding: 10px 15px;
      border-radius: 5px;
      text-decoration: none;
      z-index: 999;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    a.back-to-top.show {
      opacity: 1;
    }
    
    a.back-to-top:hover {
      background-color: #555;
    }
    
    footer {
      background-color: green;
      padding: 20px;
      text-align: center;
    }
    
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .footer-logo1 img {
      width: 90px;
      height: auto;
    }
    
    .footer-logo img {
      width: 110px;
      height: auto;
    }
    
    .footer-social {
      flex: 1;
      max-width: 200px;
      margin: 0 20px;
      font-size: 30px;
    }
    
    .footer-social h3 {
      margin-bottom: 10px;
      font-size: 23px;
    }
    
    .social-media {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    
    .social-media li {
      margin: 0 5px;
    }
    
    .social-media a {
      color: #333;
    }
    
    .footer-contact ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
    
    .footer-contact li {
      margin-bottom: 5px;
    }
    
    .footer-contact a {
      color: #333;
      text-decoration: none;
    }
    
    p {
      margin-top: 10px;
      font-size: 10px;
    }

    #blog-section {
  background-color: #5b5b5bc4;
  padding: 20px;
}

#blog-section h2 {

  font-size: 50px;
  text-align: center;
  color: green;
}

#blog-section h3 {

  font-size: 20px;
  text-align: center;
  color: green;
}

.blog-post {
  background-color: #ffffff81;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 105px;
  width: 200px;
}

#blog-section p {

  font-size: 15px;
  text-align: center;
  color: black;
}

.blog-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.blog-excerpt {
  font-size: 16px;
  color: #555;
}

.welcome-message {
  height: 370px;
}

.welcome-message h1 {
  font-size: 40px;
  color: darkgreen;
  margin-top: -10px;
}

.welcome-message h1::after {
  display: none;

}

.welcome-message p {
  font-size: 18px;
  color: green;
  margin-bottom: 10px;
  font-weight: bold;
  border: 3px solid rgb(0, 73, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 15px green;
  background-color: rgba(48, 48, 48, 0.875);
}

.welcome-message a {
  color: red;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
  font-size: 20px;
  border: 3px solid rgb(137, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(137, 0, 0);
  background-color: rgb(48, 48, 48);
  margin: 0 auto;
}

.welcome-message a:hover {
  color: #e64c4c;
}
    
}
